html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333333;
    font-size: 16px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


html {
    color: -internal-root-color;
}


.our-story-cards {
    margin: 0 auto;
    max-width: 1820px;
}



img {
    max-width: 100%;
    height: auto;
    border: 0;
}
img {
    border: 0;
}

img {
    border: 0;
}

.our-story-card {
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: transparent;
    color: white;
}

.hero-card .our-story-card-text {
    max-width: 950px;
}

.hero-card .our-story-card-text {
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.our-story-card-subtitle, .our-story-card-text {
    font-size: 1.625rem;
    font-weight: normal;
}

div {
    display: block;
}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.nfLogo {
    fill: #e50914;
    line-height: normal;
}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.netflix-sans-font-loaded {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.our-story-header-wrapper {
    background-color: transparent;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
    z-index: 10;
}

.nfLogo .svg-icon-netflix-logo {
    height: 36px;
    width: 134px;
}

.nfLogo .svg-icon-netflix-logo {
    padding-top: 0.5rem;
    height: 45px;
    width: 167px;
}

.our-story-header-wrapper {
    height: 45px;
}


.our-story-header {
    position: relative;
    margin: 0 3.5rem;
    height: 100%;
}